<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender for console output -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %p---[%t]-%c.%M-%L : %m%n"/>
        </Console>

        <!-- RollingFile Appender for file output with rolling policies -->
        <RollingFile name="RollingFileAppender"
                     fileName="/home/jar_logs/app/ylog-mongo/logs/fastFormLog.log"
                     filePattern="/home/jar_logs/app/ylog-mongo/logs/fastFormLog.log.%d{dd MMM}-%i">
            <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss.SSS} %p---[%t]-%c.%M-%L : %m%n"/>
            <Policies>
               <!--  <OnStartupTriggeringPolicy/> -->
                <SizeBasedTriggeringPolicy size="20MB"/>
               <!--  <TimeBasedTriggeringPolicy interval="1" modulate="true"/> -->
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger: log all messages at info level or higher -->
        <!-- TRACE < DEBUG < INFO <WARN < ERROR  -->
        <Root level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <!-- Custom logger for com.ylog package -->
        <Logger name="com.ylog" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
